.search_container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px
}

.search_container>input {
    flex: 1;
    padding: 15px;

    border: 1px solid #e7e5e5;
    border-radius: 5px;
}

.search_container>button {
    width: 80px;
    border-radius: 5px;
    border: none;
    background-color: rgb(37, 147, 255);
    color: white;
    cursor: pointer;
}